@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
$primary: #001134;
$secondary: #ec9e00;
$body-color: #000000;
$page-bg: #f5f5f5;
$font-family-sans-serif: 'Lato', sans-serif;
